<% layout(layoutFile) %>

<div>
  <form id="venteForm">
    <div class="form-group">
      <label for="nomProd">Nom produit</label>
      <input id="nomProd" type="text" placeholder="Nom du produit" class="form-control" required >
    </div>
    <div class="form-group">
      <label for="prixProd">Prix</label>
      <input id="prixProd" type="text" placeholder="Prix" class="form-control" required >
    </div>
    <div class="form-group">
      <label for="descProd">Description</label>
      <textarea id="descProd" placeholder="Description" class="form-control" required ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Valider</button>
  </form>
  <h3>Ami(s) int&eacute;ress&eacute;(s)</h3>
  <ul id="result"></ul>
</div>